<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>

<div th:fragment="footer">

    <hr/>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div th:if="${#authorization.expression('isAuthenticated()')}" class="well well-sm">
                    <span class="glyphicon glyphicon-user"></span> 
                    Logged user: <strong><span sec:authentication="name"></span></strong> 
                    &nbsp;|&nbsp; 
                    <span class="glyphicon glyphicon-eye-open"></span> 
                    Access Level: <span sec:authentication="principal.authorities" class="label label-info"></span> 
                    &nbsp;|&nbsp; 
                    <a th:href="@{/logout}" class="btn btn-xs btn-danger">Secure Sign Out</a>
                </div>

                <div style="margin-top: 20px;">
                    <p class="text-muted">
                        &copy; 2026 Secure Bank Inc. | 
                        <span class="glyphicon glyphicon-lock"></span> Encrypted Session
                    </p>
                    <p class="small text-muted">
                        This system is for authorized use only. Transactions are monitored for security purposes.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</div>

</body>
</html>
