<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="pagination">

    <div class="pagination-container text-center" th:with="baseUrl=${URLparameter}">
        <hr/>
        <span th:if="${pager.indexOutOfBounds()}">
            Navigation error. Please return to the <a class="btn btn-warning btn-xs"
                                                 th:href="@{${baseUrl}(page=1)}">Primary Dashboard</a>.
        </span>

        <span th:unless="${pager.indexOutOfBounds()}">

            <span th:if="${pager.hasPrevious()}">
                <a class="btn btn-default btn-sm"
                   th:href="@{${baseUrl}(page=1)}">&laquo; First</a>
                <a class="btn btn-default btn-sm"
                   th:href="@{${baseUrl}(page=${pager.getPageIndex() - 1})}">Previous</a>
            </span>

            <span th:if="${pager.getTotalPages() != 1}" class="badge"
                  th:text="'Statement Page ' + ${pager.getPageIndex()} + ' of ' + ${pager.getTotalPages()}">
            </span>

            <span th:if="${pager.hasNext()}">
                <a class="btn btn-default btn-sm"
                   th:href="@{${baseUrl}(page=${pager.getPageIndex() + 1})}">Next</a>
                <a class="btn btn-default btn-sm"
                   th:href="@{${baseUrl}(page=${pager.getTotalPages()})}">Last &raquo;</a>
            </span>
        </span>
        <hr/>
    </div>

</div>
</body>
</html>
