<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">

    <h1 class="jumbotron">
        <span class="glyphicon glyphicon-briefcase"></span> 
        <span sec:authentication="name"></span>'s Banking Dashboard
    </h1>

    <div class="alert alert-info" th:if="${transactionMessage}" th:utext="${transactionMessage}"></div>

    <div class="panel panel-primary" th:each="account : ${accounts}">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span th:text="${account.accountType}">Account Type</span> - 
                <span th:text="${account.accountNumber}">000000000</span>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h3 th:inline="text">Available Balance: $[[${account.balance}]]</h3>
                </div>
                <div class="col-md-6 text-right">
                    <a th:href="@{'/transaction/history/' + ${account.id}}" class="btn btn-default">
                        <span class="glyphicon glyphicon-list-alt"></span> View Statement
                    </a>
                    <a th:href="@{'/transfer?from=' + ${account.id}}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-transfer"></span> Transfer
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="well">
        <div class="row">
            <h2 class="col-md-9" th:inline="text"><strong>Total Net Worth: $[[${totalBalance}]]</strong></h2>
            <div class="col-md-3">
                 <a th:href="@{'/home'}" class="btn btn-success btn-block btn-lg">Back to Accounts</a>
            </div>
        </div>
    </div>

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>
