<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">

    <div class="jumbotron">
        <h1>Welcome to Your Secure Banking Portal</h1>
        <p>Manage your savings, track transactions, and transfer funds with ease.</p>
    </div>

    <div th:replace="/fragments/accounts :: accounts"/>

    <div th:replace="/fragments/pagination :: pagination(URLparameter='/home')"/>

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>
